<h2>Perfil</h2>
<hr>
<p>Rol: <strong>{{user.rol}}</strong></p>
<p>Nombre: <strong>{{user.first_name}}</strong></p>
<p>Apellido: <strong>{{user.last_name}}</strong></p>
<p>Edad: <strong>{{user.age}}</strong></p>
<p>Correo electrónico: <strong>{{user.email}}</strong></p>

<br>
{{>menu}}